<div class="personal-interno">
  <div class="main-body">
    <as-split [disabled]="true" direction="horizontal">
      <as-split-area [size]="20" style="background: white">
        <app-sidebar></app-sidebar>
      </as-split-area>
      <as-split-area [size]="80">
        <!-- <Split
                    sizes=[20, 80]
                    direction="horizontal"
                    class="split"
                    minSize=100
                    expandToMin=false
                    dragInterval=1
                    cursor="col-resize"
                >
                    <Sidebar
                    /> -->

        <section>
          <form class="form" onSubmit=handleSubmit>
            <!-- <TitleBar /> -->
            <app-titlebar></app-titlebar>

            <div class="col-12">
              <h2>
                Equipo del Proyecto - Personal Interno
              </h2>
              <br />

              <br />
            </div>
            <div class="container">
              <div class="row">
                <div class="col-2">
                  <label>
                    ROL
                  </label>
                </div>

                <div class="col-2">
                  <label>
                    Tipo
                  </label>
                </div>
                <div class="col-2">
                  <label>
                    Investigadores Acreditados Senescyt
                  </label>
                </div>

                <div class="col-2">
                  <label>
                    Identificación
                  </label>
                </div>

                <div class="col-2">
                  <label>
                    Nombres y Apellidos
                  </label>
                </div>

                <div class="col-1">
                  <label>
                    Horas semanales de Participación
                  </label>
                </div>

                <div class="col-1">
                  <label>
                    Total horas Participación
                  </label>
                </div>
              </div>
            </div>

            <hr />
            <div class="container">
              <div class="row">
                <div class="col-2">
                  <select id="rolPersonalInterno1" value=formData.rolPersonalInterno1 onChange=handleChange
                    name="rolPersonalInterno1" class="form-select">
                    <option value="">-- Elija un Elemento --</option>
                    <option value="Dirección">Dirección</option>
                    <option value="Co-Dirección">Co-Dirección</option>
                    <option value="Participación">Participación</option>
                  </select>
                </div>

                <div class="col-2">
                  <select id="tipoPersonalInterno1" value=formData.tipoPersonalInterno1 onChange=handleChange
                    name="tipoPersonalInterno1" class="form-select">
                    <option value="">-- Elija un Elemento --</option>
                    <option value="Docente a tiempo completo">Docente a tiempo completo</option>
                    <option value="Estudiante">Estudiante</option>
                    <option value="Técnico Docente">Técnico Docente</option>
                  </select>
                </div>
                <div class="col-2">
                  <select id="senescyt1" value=formData.senescyt1 onChange=handleChange name="senescyt1"
                    class="form-select">
                    <option value="">-- Elija un Elemento --</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                  </select>
                </div>

                <div class="col-2">
                  <input type="number" placeholder="0000000000" class="form-control"
                    name="identificacionPersonalInterno1" onChange=handleChange
                    value=formData.identificacionPersonalInterno1 />
                </div>

                <div class="col-2">
                  <input type="text" placeholder="Ingresar Texto" class="form-control" name="nombrePersonalInterno1"
                    onChange=handleChange value=formData.nombrePersonalInterno1 />
                </div>

                <div class="col-1">
                  <input type="number" placeholder="00" min=0 class="form-control" name="horasSemanalesPersonalInterno1"
                    onChange=handleChange value=formData.horasSemanalesPersonalInterno1 />
                </div>

                <div class="col-1">
                  <input type="number" placeholder="00" min=0 class="form-control" name="horasTotalesPersonalInterno1"
                    onChange=handleChange value=formData.horasTotalesPersonalInterno1 />
                </div>
              </div>



              <br />

              <div class="row">
                <div class="col-2">
                  <select id="rolPersonalInterno2" value=formData.rolPersonalInterno2 onChange=handleChange
                    name="rolPersonalInterno2" class="form-select">
                    <option value="">-- Elija un Elemento --</option>
                    <option value="Dirección">Dirección</option>
                    <option value="Co-Dirección">Co-Dirección</option>
                    <option value="Participación">Participación</option>
                  </select>
                </div>

                <div class="col-2">
                  <select id="tipoPersonalInterno2" value=formData.tipoPersonalInterno2 onChange=handleChange
                    name="tipoPersonalInterno2" class="form-select">
                    <option value="">-- Elija un Elemento --</option>
                    <option value="Docente a tiempo completo">Docente a tiempo completo</option>
                    <option value="Estudiante">Estudiante</option>
                    <option value="Técnico Docente">Técnico Docente</option>
                  </select>
                </div>
                <div class="col-2">
                  <select id="senescyt2" value=formData.senescyt2 onChange=handleChange name="senescyt2"
                    class="form-select">
                    <option value="">-- Elija un Elemento --</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                  </select>
                </div>

                <div class="col-2">
                  <input type="number" placeholder="0000000000" class="form-control"
                    name="identificacionPersonalInterno2" onChange=handleChange
                    value=formData.identificacionPersonalInterno2 />
                </div>

                <div class="col-2">
                  <input type="text" placeholder="Ingresar Texto" class="form-control" name="nombrePersonalInterno2"
                    onChange=handleChange value=formData.nombrePersonalInterno2 />
                </div>

                <div class="col-1">
                  <input type="number" placeholder="00" min=0 class="form-control" name="horasSemanalesPersonalInterno2"
                    onChange=handleChange value=formData.horasSemanalesPersonalInterno2 />
                </div>

                <div class="col-1">
                  <input type="number" placeholder="00" min=0 class="form-control" name="horasTotalesPersonalInterno2"
                    onChange=handleChange value=formData.horasTotalesPersonalInterno2 />
                </div>
              </div>

              <br />

              <div class="row">
                <div class="col-2">
                  <select id="rolPersonalInterno3" value=formData.rolPersonalInterno3 onChange=handleChange
                    name="rolPersonalInterno3" class="form-select">
                    <option value="">-- Elija un Elemento --</option>
                    <option value="Dirección">Dirección</option>
                    <option value="Co-Dirección">Co-Dirección</option>
                    <option value="Participación">Participación</option>
                  </select>
                </div>

                <div class="col-2">
                  <select id="tipoPersonalInterno3" value=formData.tipoPersonalInterno3 onChange=handleChange
                    name="tipoPersonalInterno3" class="form-select">
                    <option value="">-- Elija un Elemento --</option>
                    <option value="Docente a tiempo completo">Docente a tiempo completo</option>
                    <option value="Estudiante">Estudiante</option>
                    <option value="Técnico Docente">Técnico Docente</option>
                  </select>
                </div>
                <div class="col-2">
                  <select id="senescyt3" value=formData.senescyt3 onChange=handleChange name="senescyt3"
                    class="form-select">
                    <option value="">-- Elija un Elemento --</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                  </select>
                </div>

                <div class="col-2">
                  <input type="number" placeholder="0000000000" class="form-control"
                    name="identificacionPersonalInterno3" onChange=handleChange
                    value=formData.identificacionPersonalInterno3 />
                </div>

                <div class="col-2">
                  <input type="text" placeholder="Ingresar Texto" class="form-control" name="nombrePersonalInterno3"
                    onChange=handleChange value=formData.nombrePersonalInterno3 />
                </div>

                <div class="col-1">
                  <input type="number" placeholder="00" min=0 class="form-control" name="horasSemanalesPersonalInterno3"
                    onChange=handleChange value=formData.horasSemanalesPersonalInterno3 />
                </div>

                <div class="col-1">
                  <input type="number" placeholder="00" min=0 class="form-control" name="horasTotalesPersonalInterno3"
                    onChange=handleChange value=formData.horasTotalesPersonalInterno3 />
                </div>
              </div>

              <br />

              <div class="row">
                <div class="col-2">
                  <select id="rolPersonalInterno4" value=formData.rolPersonalInterno4 onChange=handleChange
                    name="rolPersonalInterno4" class="form-select">
                    <option value="">-- Elija un Elemento --</option>
                    <option value="Dirección">Dirección</option>
                    <option value="Co-Dirección">Co-Dirección</option>
                    <option value="Participación">Participación</option>
                  </select>
                </div>

                <div class="col-2">
                  <select id="tipoPersonalInterno4" value=formData.tipoPersonalInterno4 onChange=handleChange
                    name="tipoPersonalInterno4" class="form-select">
                    <option value="">-- Elija un Elemento --</option>
                    <option value="Docente a tiempo completo">Docente a tiempo completo</option>
                    <option value="Estudiante">Estudiante</option>
                    <option value="Técnico Docente">Técnico Docente</option>
                  </select>
                </div>
                <div class="col-2">
                  <select id="senescyt4" value=formData.senescyt4 onChange=handleChange name="senescyt4"
                    class="form-select">
                    <option value="">-- Elija un Elemento --</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                  </select>
                </div>

                <div class="col-2">
                  <input type="number" placeholder="0000000000" class="form-control"
                    name="identificacionPersonalInterno4" onChange=handleChange
                    value=formData.identificacionPersonalInterno4 />
                </div>

                <div class="col-2">
                  <input type="text" placeholder="Ingresar Texto" class="form-control" name="nombrePersonalInterno4"
                    onChange=handleChange value=formData.nombrePersonalInterno4 />
                </div>

                <div class="col-1">
                  <input type="number" placeholder="00" min=0 class="form-control" name="horasSemanalesPersonalInterno4"
                    onChange=handleChange value=formData.horasSemanalesPersonalInterno4 />
                </div>

                <div class="col-1">
                  <input type="number" placeholder="00" min=0 class="form-control" name="horasTotalesPersonalInterno4"
                    onChange=handleChange value=formData.horasTotalesPersonalInterno4 />
                </div>
              </div>

              <br />

              <div class="row">
                <div class="col-2">
                  <select id="rolPersonalInterno5" value=formData.rolPersonalInterno5 onChange=handleChange
                    name="rolPersonalInterno5" class="form-select">
                    <option value="">-- Elija un Elemento --</option>
                    <option value="Dirección">Dirección</option>
                    <option value="Co-Dirección">Co-Dirección</option>
                    <option value="Participación">Participación</option>
                  </select>
                </div>

                <div class="col-2">
                  <select id="tipoPersonalInterno5" value=formData.tipoPersonalInterno5 onChange=handleChange
                    name="tipoPersonalInterno5" class="form-select">
                    <option value="">-- Elija un Elemento --</option>
                    <option value="Docente a tiempo completo">Docente a tiempo completo</option>
                    <option value="Estudiante">Estudiante</option>
                    <option value="Técnico Docente">Técnico Docente</option>
                  </select>
                </div>
                <div class="col-2">
                  <select id="senescyt5" value=formData.senescyt5 onChange=handleChange name="senescyt5"
                    class="form-select">
                    <option value="">-- Elija un Elemento --</option>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                  </select>
                </div>

                <div class="col-2">
                  <input type="number" placeholder="0000000000" class="form-control"
                    name="identificacionPersonalInterno5" onChange=handleChange
                    value=formData.identificacionPersonalInterno5 />
                </div>

                <div class="col-2">
                  <input type="text" placeholder="Ingresar Texto" class="form-control" name="nombrePersonalInterno5"
                    onChange=handleChange value=formData.nombrePersonalInterno5 />
                </div>

                <div class="col-1">
                  <input type="number" placeholder="00" min=0 class="form-control" name="horasSemanalesPersonalInterno5"
                    onChange=handleChange value=formData.horasSemanalesPersonalInterno5 />
                </div>

                <div class="col-1">
                  <input type="number" placeholder="00" min=0 class="form-control" name="horasTotalesPersonalInterno5"
                    onChange=handleChange value=formData.horasTotalesPersonalInterno5 />
                </div>
              </div>

            </div>

            <br />
            <button class="btn btn-primary">
              Enviar Información
            </button>
          </form>
        </section>
      </as-split-area>
    </as-split>
    <!-- </Split> -->
  </div>

</div>
