<div class="resumen-presupuesto">
  <div class="main-body">
    <as-split [disabled]="true" direction="horizontal">
      <as-split-area [size]="20" style="background: white">
        <app-sidebar></app-sidebar>
      </as-split-area>
      <as-split-area [size]="80">
        <section>
          <form class="form" onSubmit="{handleSubmit}">

            <app-titlebar></app-titlebar>

            <!-- <TitleBar /> -->
            <!-- {/* <NavBar /> */} -->
            <h3>2.12 Resumen Presupuestos</h3>

            <h3>Items</h3>

            <br />
            <div class="container">
              <div class="row">
                <div class="col-4">
                  <h5>Viáticos, subsistencias y movilización.</h5>
                </div>
                <div class="col-8">
                  <input type="number" min="{0}" placeholder="$ " class="form--input"
                    name="viaticosSubsistenciasMovilizacion" onChange="{handleChange}"
                    value="{formData.viaticosSubsistenciasMovilizacion}" />
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <h5>Honorarios.</h5>
                </div>

                <div class="col-8">
                  <input type="number" min="{0}" placeholder="$ " class="form--input" name="honorarios"
                    onChange="{handleChange}" value="{formData.honorarios}" />
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <h5>Materiales, suministros y reactivos.</h5>
                </div>
                <div class="col-8">
                  <input type="number" min="{0}" placeholder="$ " class="form--input"
                    name="materialesSuministrosReactivos" onChange="{handleChange}"
                    value="{formData.materialesSuministrosReactivos}" />
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <h5>Equipos</h5>
                </div>

                <div class="col-8">
                  <input type="number" min="{0}" placeholder="$ " class="form--input" name="equipos"
                    onChange="{handleChange}" value="{formData.equipos}" />
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <h5>Capacitación.</h5>
                </div>
                <div class="col-8">
                  <input type="number" min="{0}" placeholder="$" class="form--input" name="capacitacion"
                    onChange="{handleChange}" value="{formData.capacitacion}" />
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <h5>Total de gastos directos.</h5>
                </div>
                <div class="col-8">
                  <input type="number" min="{0}" placeholder="$" class="form--input" name="totalGastosDirectos"
                    onChange="{handleChange}" value="{formData.totalGastosDirectos}" />
                </div>
              </div>
            </div>
            <br />
            <div class="container">
              <div class="row">
                <div class="col-4">
                  <h5>Bibliografía.</h5>
                </div>
                <div class="col-8">
                  <textarea value="{formData.bibliografia}" placeholder="Escribir Texto " onChange="{handleChange}"
                    name="bibliografia">
                  </textarea>
                </div>
              </div>
            </div>
            <br />

            <div class="container">
              <div class="row">
                <div class="col-4">
                  <h5>Observaciones.</h5>
                </div>
                <div class="col-8">
                  <textarea value="{formData.observaciones}" placeholder="Escribir Texto " onChange="{handleChange}"
                    name="observaciones">
                  </textarea>
                </div>
              </div>
            </div>

            <br />
            <button class="btn btn-primary" onClick="{routeChange}" type="button">
              Enviar Información
            </button>
          </form>
        </section>
      </as-split-area>
    </as-split>
    <!-- </Split> -->
  </div>
</div>
