<div class="sidebar-pane">
  <section class="pane sidebar">
    <br />
    <!-- class="l-navbar" -->
    <div
    class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark"

    id="nav-bar">

      <h3>Panel de Navegación</h3>
<!-- class="nav" -->
      <nav
      class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
      >
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a  class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"routerLink="/admin">Administrador</a>
            </li>
            <li>
              <a routerLink="/informacion-general">Información General</a>
            </li>
            <li>
              <a routerLink="/areas-conocimiento">Áreas del Conocimiento</a>
            </li>
            <li>
              <a routerLink="/tipo-proyecto">Tipo de Proyecto</a>
            </li>
            <li>
              <a routerLink="/personal-interno">Equipo del Proyecto - Personal Interno</a>
            </li>
            <li>
              <a routerLink="/personal-externo-cooperante">Personal Externo cooperante</a>
            </li>
            <li>
              <a routerLink="/personal-externo-contratar">Personal Externo a contratar</a>
            </li>

            <li>
              <a routerLink="/informacion-tecnica-proyecto">Información Técnica del Proyecto</a>
            </li>
            <li>
              <a routerLink="/metodologia-proyecto">Metodología del Proyecto</a>
            </li>
            <li>
              <a routerLink="/cronograma-esp-a">Cronograma Actividades A</a>
            </li>
            <li>
              <a routerLink="/resumen-presupuesto">Resumen del Presupuesto</a>
            </li>
            <li>
              <a routerLink="/pruebas">Zona Pruebas</a>
            </li>
          </ul>
      </nav>

    </div>

  </section>
</div>
