<div class="sidebar-pane">
  <section class="pane sidebar">
    <br />
    <div class="l-navbar" id="nav-bar">

      <h3>Panel de Navegación</h3>

      <nav class="nav">
          <ul class="w3-ul w3-hoverable">
            <li>
              <a class="active" routerLink="/admin">Administrador</a>
            </li>
            <li>
              <a routerLink="/informacion-general">Información General</a>
            </li>
            <li>
              <a routerLink="/areas-conocimiento">Áreas del Conocimiento</a>
            </li>
            <li>
              <a routerLink="/tipo-proyecto">Tipo de Proyecto</a>
            </li>
            <li>
              <a routerLink="/personal-interno">Equipo del Proyecto - Personal Interno</a>
            </li>
            <li>
              <a routerLink="/personal-externo-cooperante">Personal Externo cooperante</a>
            </li>
            <li>
              <a routerLink="/personal-externo-contratar">Personal Externo a contratar</a>
            </li>

            <li>
              <a routerLink="/informacion-tecnica-proyecto">Información Técnica del Proyecto</a>
            </li>
            <li>
              <a routerLink="/metodologia-proyecto">Metodología del Proyecto</a>
            </li>
            <li>
              <a routerLink="/cronograma-esp-a">Cronograma Actividades A</a>
            </li>
            <li>
              <a routerLink="/resumen-presupuesto">Resumen del Presupuesto</a>
            </li>
            <li>
              <a routerLink="/pruebas">Zona Pruebas</a>
            </li>
          </ul>
      </nav>

    </div>

  </section>
</div>
